/* FONTS */

@font-face {
    font-family: 'Xarrovv';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Xarrovv.woff2') format('woff2'), url('../fonts/Xarrovv.woff') format('woff');
}

@font-face {
    font-family: 'Xarrovv';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/XarrovvBold.woff2') format('woff2'), url('../fonts/XarrovvBold.woff') format('woff');
}

/* ROOT */

:root {
    --color-main-white: #ffffff;
    --color-main-black: #000000;
}

/* BASE */

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    color: var(--color-main-white);
    font-family: 'Xarrovv', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    user-select: none;
}

ul {
    list-style: none;
}

img {
    pointer-events: none;
}

/* anime */

/* HEADER */

.header-main-app {
    background-attachment: fixed;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: block;
    position: relat;
}

.header-first {
    display: flex;
}

.header-logo {
    margin: auto;
    margin-top: 0.5%;
}

.header-second {
    display: flex;
    position: relative;
    text-transform: uppercase;
    align-items: center;
    justify-content: right;
}

.header-menu {
    display: flex;
    position: absolute;
    height: 70px;
    width: 100%;
    line-height: 100%;
    align-items: center;
    justify-content: center;
}

.header-menu-inside {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    gap: 15px;
}

.header-menu-item {
    display: flex;
    position: relative;
    color: var(--color-main-white);
    text-decoration: none;
    cursor: pointer;
}

.header-other-item {
    color: var(--color-main-white);
    text-decoration: none;
}

.header-second-other {
    display: flex;
    position: relative;
    padding-right: 50px;
}

.header-second-other-inside {
    display: flex;
    gap: 15px;
}

/* MAIN */

.main-app-page {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-phrase {
    display: flex;
    display: flex;
    position: relative;
    height: 140px;
    width: 100%;
    margin-top: 640px;
    text-transform: uppercase;
    background: var(--color-main-white);
    align-items: center;
    contain: strict;
    justify-content: center;
}

.main-phrase span {
    padding: 5px 15px;
    color: var(--color-main-white);
    background: var(--color-main-black);
}

.main-phrase-text {
    color: var(--color-main-black);
    font-size: 30px;
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: var(--color-main-black);
}

.footer-logo {
    margin-left: 30px;
}

/* FOOTER MENU */

.footer-menu {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: left;
}

.footer-menu-inside {
    display: flex;
    font-size: 20px;
    gap: 15px;
}

/* ADDRESS */

.address-link-block {
    margin-bottom: 20px;
    margin-left: 30px;
}

.address-link {
    color: var(--color-main-white);
    font-style: normal;
    text-decoration: none;
}

.address-link:hover {
    text-decoration: underline;
}
.address-copyright {
    margin: 0;
    padding: 0;
}
